@charset "ISO-8859-1";
#td{
	height: 270px;
	width:40%;
	float:left;
}
#ts{
	height: 270px;
	width:40%;
	float:right;
}
table{
    border: 1px solid black;
}
#nav{
	height: 150px;
	width:20%;
	padding-top:120px;
	float:left;
}